<footer class="py-3 bg-light border-top mt-5 text-center" id="MainFooter">
    <strong>Copyright &copy; 2023 <a style="color: blue;" href="https://www.gmda.gov.in/?language=en">Developed by GIS Division</a>.</strong>
        All rights reserved.
</footer>