
<body id="body-pd">
    <form id="form1" runat="server">
        <!---------------- header start ----------------------->
        <header class="header" id="header" style="height: 100px;">

            <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
            <div class="container-fluid d-flex">


                <div class="logo" style="margin: 5px;">
                    <img src="/images/har.govt.png" class="rounded float-start" style="margin-top: 5px;" alt="..." />
                </div>
                <div class="main col text-center p-0 m-0"
                    style="color: rgb(0, 61, 164);  display:flex; justify-content:center; align-items:center;">
                    <h2 class="text fw-bold text-center" style="color: #094E7F; ">Department of Town Country Planning
                    </h2>
                </div>
                <div class="" style="margin: 5px;  display:flex; justify-content:center; align-items:center;">
                    <span class="UserId">Junior Engineer</span>
                    <i class="fa fa-sign-out"></i>
                </div>
            </div>

        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a class="nav_logo"> <i class='bx bx-home nav_logo-icon'></i> <span
                            class="nav_logo-name">Home</span> </a>

                    <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">LandSchedule-License</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                class="nav_name">Renewal Of License</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-detail nav_icon'></i> <span
                                class="nav_name">LandSchedule-CLU</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-table nav_icon'></i> <span class="nav_name">UC
                                Site Report</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-table nav_icon'></i> <span class="nav_name">ISL
                                Site Report</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-table nav_icon'></i> <span class="nav_name">MOL
                                Site Report</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Filing
                                of FIR</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span
                                class="nav_name">Demolition</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-window nav_icon'></i> <span
                                class="nav_name">Sectoral Plan & Site or Planning Param</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-window nav_icon'></i> <span
                                class="nav_name">Demarcation Plan</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-window nav_icon'></i> <span
                                class="nav_name">Building Plan</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span
                                class="nav_name">Occupation</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span
                                class="nav_name">Grant Of Compl. Certificate</span> </a>

                    </div>
                </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                        class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <!---------------- header end ----------------------->

        <!--Container Main start-->
        <!--Container Main start-->
        
        </div>


        </div>
 <!--Container Main end-->
    </form>
    </body>



<div id="loader" style="position: fixed; height: 100vh; width: 100vw; top: 0; right: 0; z-index: 100; background: rgba(0,0,0,0.5); display: none; align-items: center; justify-content: center;">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>